<ion-header>
  <ion-toolbar>
    <ion-title>Table of Contents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentsContainer">
    <h1>Table of Contents</h1>
    <br>
    <hr>
    <br>
    <h2>Chapters</h2>
    <ol>
      <li><a href="/one">Pg 1</a></li>
      <li><a href="/two">Pg 4</a></li>
      <li><a href="/three">Pg 6</a></li>
    </ol>
  </div>
  <div class="backForwardContainer">
    <ion-button href="/home">Cover Page</ion-button>
    <ion-button href="/one">Pg 1</ion-button>
  </div>
</ion-content>