<ion-header>
  <ion-toolbar>
    <ion-title>Chapter Three</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentContainer">
    <h1>Chapter Three</h1>
    <hr>
    <h3>The Final Chapter</h3>
    <h4>It's All Over Now</h4>
    <img src="http://lorempixel.com/400/200" />
  </div>
  <h2 class="pgNum">Pg 6</h2>
  <div class="backForwardContainer">
    <div>
      <ion-button href="/toc">TOC</ion-button>
      <ion-button href="/page-five">Pg 5</ion-button>
    </div>
    <ion-button href="/page-seven">Pg 7</ion-button>
  </div>
</ion-content>