<ion-header>
  <ion-toolbar>
    <ion-title>Pg 5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentContainer">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <img src="http://lorempixel.com/400/200" />
  </div>
  <h2 class="pgNum">Pg 5</h2>
  <div class="backForwardContainer">
    <div>
      <ion-button href="/toc">TOC</ion-button>
      <ion-button href="/two">CH 2</ion-button>
    </div>
    <ion-button href="/three">CH 3</ion-button>
  </div>
</ion-content>